language: python
dist: xenial
python:
  - '3.6'
  - '3.7'
# cache:
# pip: true
install:
  - pip install -r test_requirements.txt
  - pip install twine wheel
script:
  - make test
  - make check
  - make dist
deploy:
  provider: script
  skip_cleanup: true
  script: make publish
  on:
    tags: true
    branch: master
notifications:
  email: false
