language: python
dist: xenial

jobs:
  include:
    - stage: test
      python:
        - 3.6
        - 3.7
      install:
        - pip install -r test_requirements.txt
      script:
        - make test
        - make check
    - stage: deploy
      python: 3.7
      install:
        - pip install twine wheel
      script:
        - make dist
      deploy:
        provider: script
        skip_cleanup: true
        script: make publish
        on:
          tags: true
          branch: master

cache:
  pip: true
  directories:
    - $HOME/.cache/pre-commit

notifications:
  email: false
