language: python

dist: xenial

python:
  - '3.6'
  - '3.7'

install:
  - pip install -r test_requirements.txt

script:
  - make test
  - make check

jobs:
  include:
    - stage: deploy
      python: '3.7'
      deploy:
        provider: script
        install:
          - pip install twine wheel
        script:
          - make dist
          - make publish
        on:
          tags: true
          branch: master

cache:
  pip: true
  directories:
    - $HOME/.cache/pre-commit

notifications:
  email: false
